/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0px;
    margin: 0px;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.navbar {
    position: sticky;
    top: 180px;
    left: 0;
    height: 45px;
    width: 100vw;
    transition: none;
}

.navbar,
.text-logo,
.search-group,
.topbar {
    width: 100vw;
}

.topbar {
    background: #F4F4F4;
    position: absolute;
    left: 0px;
    height: 30px;
    width: 100vw;
    transition: none;
}

.topbar ul li {
    list-style: none;
    display: inline-flex;
    color: #5d6164;
    padding-left: 10px;
    padding-right: 10px;
    /* border-left: 1px solid lightgray; */
    /* border-right: 1px solid lightgray; */
}

.topbar .list-divider {
    font-weight: 100;
    color: #d5d5d5;
    font-size: 22px;
}
   

.topbar ul li:hover {
    cursor: pointer;
    color: #ABD17E;
    text-decoration: underline;
}

.topbar ul li:nth-child(2) {
    border-left: 0px;
}

.topbar ul li:nth-child(3) {
    border-left: 0px;
}

.topbar ul li:nth-child(4) {
    border-left: 0px;
}

.topbar ul li:nth-child(5) {
    border-left: 0px;
}

.topbar ul {
    paddING-left: 75px;
    height: 30px;
    display: flex;
    align-items: center;
}



.navbar ul li {
    position: relative;
    list-style: none;
    display: inline-flex;
    color: white;
    height: 65px;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-weight: 600;
    min-width: 100px;
    text-align: center;
}

.navbar ul {
    position: relative;
    width: 100vw;
    margin-bottom: 0;
    background-color: #85C94F;
    height: 65px;
    padding-left: 50px;
    font-family: roboto;
}

.navbar ul li:hover {
    background-color: #5D982F;
    height: 65px;
}

.navbar ul li .badge {
    position: absolute;
    top: -20px;
    background-color: red;
    padding: 2px;
    border-radius: 10px;
    min-height: 25px;
    min-width: 40px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li.new .badge {
    background-color: #EDC515;
}

.navbar ul li .badge::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: red;
    bottom: -3px;
    left: 7px;
    z-index: 1;
    transform: rotate(45deg);
    border-radius: 1px;
}

.navbar ul li.new .badge::after {
    background-color: #EDC515;
}

.row.text-logo {
    padding-top: 50px;
    margin-left: 75px;
    height: 200px;
}

.row.text-logo h1 {
    font-size: 60px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #414141;
}

.row.text-logo h5 {
    position: absolute;
    top: 120px;
    left: 140px;
    color: #888E92;
}

.search-group {
    display: inline;
    position: absolute;
    top: 65px;
    left: 370px;
}

.search-category {
    position: relative;
    margin-right: -4px;
    width: 140px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F6F6F6;
    border-radius: 3px;
    border: .1px solid rgb(222, 222, 222);
    outline: none;
}

.search-input {
    height: 40px;
    width: 250px;
    border-color: #F6F6F6;
    border: .1px solid rgb(222, 222, 222);
    outline: none;
}

.search-button {
    position: absolute;
    height: 40px;
    width: 50px;
    background-color: #F4F4F4;
    border: .1px solid rgb(222, 222, 222);
}

.search-button svg {
    padding-top: 5px;
    width: 20px;
}

.search-button:hover {
    cursor: pointer;
}

.search-input[placeholder] {
    padding-left: 15px;
}

.contact-info ul li {
    position: relative;
    top: -5px;
    list-style: none;
    display: inline-flex;
    color: #5d6164;
    padding-left: 10px;
    padding-right: 15px;
    border-right: 1px solid lightgray;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-info ul li svg {
    width: 20px;

    margin-right: 10px;
    color: #80B441;
}

.flexed-menu {
    margin-left: 300px;
}

.shopping-cart h4 {
    position: absolute;
    left: 950px;
    top: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h4.item-qty {
    left: 950px;
    top: 110px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h4.item-price {
    left: 1045px;
    top: 110px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #80B441;
}

.cart-button {
    position: relative;
    top: -105px;
    left: 900px;
    z-index: 1;
    height: 40px;
    width: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #949698;
}

.shopping-cart {
    height: 5px;
}

.cart-button svg {
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    top: 10px;
    right: 10px;
}

.shopping-cart button:hover {
    cursor: pointer;
    background-color: #85C94F;
    transition: all .2s;
}

.cart-items {
    position: absolute;
    background-color: #85C94F;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    left: 927px;
    top: 87px;
    z-index: 2;
}

.site-contents {
    position: relative;
    top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-areas: 'right right main main main main'
    'right right main main main main'
    'right right main main main main'
    'right right main main main main';
    background-color: red;
}

.side-contents {
    grid-area: right;
}



.site-contents > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}